/*
  Custom styles for Trackster App
*/

/* Header Styles */

html {
  font-size: 16px;
}
.container-fluid,
  .attribute,
    .track {
      padding-left: 0;
      padding-right: 0;
}
.header {
  background-color: rgb(35, 2, 63);
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Righteous";
  font-size: 2.5rem;
  color: rgb(255, 0 , 171);
}
h1,
  input,
    #search-button {
      padding: 0.5rem;
}
input {
  border-radius: 100px;
  margin-right: 0.5rem;
}

#search-button {
  background-color: rgb(255, 0 , 171);
  border-radius: 20px;
  text-align: center;
  width: 4rem;
  color: #22013f;
}

/* search results header row */
.attribute-container {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
}
.attribute,
  .track {
    display: inline-block;
    padding: 0.5rem 0;
}
.attribute {
  font-weight: bold;
}
.track {
  border-bottom: 1px solid lightgray;
  vertical-align: middle;
}
.icon {
  text-align: center;
}
.fa-play-circle-o {
  color: rgb(255, 0 , 171);
}
.results-row {
  display: flex;
}


















/*  */
